body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  scroll-behavior: smooth;
}
.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;
  background-color: white;
}
.option{
  margin: 0 10px;
  font-size: 15px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  gap: 15px;
}
.option-item {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.option-item:hover {
  background-color: rgb(85, 83, 83);
}
.option-item:active {
    transform: scale(0.90);
    transition: transform 0.1s;
}
.logo {
    top: 0px;
    height: 95px;
}
#content {
  background-color: rgb(250, 250, 250);
  margin: 0px; padding: 40px 15% 5px 15%;
  align-content: center;
}
#h {
  font-size: 29px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p {
  font-size: 16px;
  color: rgb(48, 47, 47);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
#search{ 
    display: flex;
    gap: 20px;
    box-shadow: 0px 0px 5px gray;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    margin: 20px 0;
    border-radius: 15px;
    background-color: white;
    max-width: 1000px;
    justify-content: space-evenly;
    align-self: center;
}
.label {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0px;
}
form input{
  width: 180px;
  height: 25px;
  border-radius: 10px;
  border-color: gray;
}
form input:hover {
    border-color: #007bff;
}
#btn {
  width: 90px;
  height: 35px;
  background-color: rgb(10, 135, 213);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}
#btn:hover {
  background-color: #0056b3;
}
#btn:active {
    transform: scale(0.90);
    transition: transform 0.1s;
}
#company {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  align-items: center;
}

#company img {
  width: 55px;
  height: auto;
  opacity: 0.8;
  filter: grayscale(100%);
}
#more {
  font-size: 12px;
  color: gray;
  cursor: pointer;
  text-decoration: none;
}   
#deals{
  display: flex;
  justify-content: space-between;
}

#features{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  flex: auto;
  gap: 30px;
  padding: 10px;
  margin: 0px 40px 0px 40px;
  border-radius: 10px;
  border: 1px solid rgb(251, 162, 8);
  overflow-x: auto;
}
#h2 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
}  
.like{
  display: flex;
  flex: auto;
  justify-content: space-between;
  z-index: 10000;
} 
.heart{ 
  font-size: larger;
  cursor: pointer;
  color: grey;

}
.heart i.active {
  color: red;
}
.hotel-list {    
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
     gap: 20px; 
     padding: 20px; 
}
.hotel-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s; 
    width: 250px;
    text-decoration: none;
}

.hotel-card:hover {
  transform: translateY(-5px);
}
.hotel-card:active {
    transform: scale(0.90);
    transition: transform 0.1s;
}

.hotel-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.hotel-card img:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
  filter: grayscale(20%);
}
.card-content {
    padding: 10px;
}
.card-link {
    text-decoration: none;
    color: inherit; 
}

.card-content h3 {
    margin: 5px 0;
}

.location {
    color: gray;
    font-size: 14px;
}

.rating {
    margin: 10px 0;
}
.card-content:hover{
  background-color:rgb(245, 245, 245) ;
}
.score {
    background: green;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
    margin-right: 5px;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.price span {
    font-size: 14px;
    color: gray;
}

#click {
    padding: 5px 5px;
    margin-top: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    align-self: center;
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#click:hover {
    background: #0056b3;
}
#click:active {
    transform: scale(0.90);
    transition: transform 0.1s;
}
.place-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s; 
    width: 200px;
}
.place-card:hover {
  transform: translateY(-5px);
}
.place-card:active {
    transform: scale(0.90);
    transition: transform 0.1s;
}
.place-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.place-card img:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
  filter: grayscale(20%);
}
.price2 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
}
.price2 span {
    font-size: 10px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.place-card-link {
    text-decoration: none;
    color: inherit; 
}
.benefits {
    background-color: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.benefit-card {
    background: white;
    overflow: hidden;
    width: 200px;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.h3{
  font-weight: bold;
  font-size: medium;
}
.benefit-card p{
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}
footer{
  margin: 0px;
}
.description{
  font-size: 18px;
  color: white;
  margin-top: 0px;
  padding: 20px;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.contact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
}
#social a{
  color: white;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
}
#social i:hover{
  transform: scale(1.10);
  transition: transform 0.2s;
}
#social i:active {
    transform: scale(0.90);
    transition: transform 0.1s; 
}
  
@media (max-width: 600px) {

  #h {
    font-size: 16px;
  }

  #search {
    flex-direction: column;
  }

  #destination, #date, #guests {
    width: 100%;
  }

  #btn {
    width: 100%;
  }

  .option {
    justify-content: center;
  }
  #company{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #features{
    overflow-x: auto;
  }
}
